.flexer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  font-size: 14px;
  font-weight: 700;
}
.parent {
  border: 3px dashed grey;
  border-radius: 10px;
  padding: 5px;
  width: 15rem;
  height: 24rem;
  background-color: beige;
  margin-left: 20px;
}
.hd {
  text-align: center;
}
.flexB {
  margin-top: 10px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
