.flexer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  font-size: 14px;
  font-weight: 700;
}
.parent {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  width: 15rem;
  height: 21rem;
  background-color: beige;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.hd {
  text-align: center;
}
.flexB {
  margin-top: 10px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
