.login_form {
  width: 400px;
  height: 400px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 200px;
  align-items: center;
  border: 5px groove rgb(111, 111, 226);
  border-radius: 30px;
  background-color: #dbf8ff;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.parent {
  display: flex;
  justify-content: center;
  align-content: center;
}
.lCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 5px;
  height: 15rem;
  font-size: 15px;
  color: white;
  font-weight: 800;
  background-color: rgb(36, 35, 35);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.grandP {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 10rem;
  height: 18rem;
}
