.login_form {
  width: 400px;
  height: 400px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 200px;
  align-items: center;
  border: 1px solid rgb(111, 111, 226);
  border-radius: 30px;
  box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.2);
  background-color: #dbf8ff;
}
.parent {
  display: flex;
  justify-content: center;
  align-content: center;
}
.lCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  /* width: 200px; */
  border: 1px solid grey;
  border-radius: 10px;
  height: 400px;
  padding: 10px;
  font-size: 30px;
  font-weight: 800;
}
.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.model {
  width: 200px;
  padding: 7px;
  font-size: 25px;
  font-weight: 800;
}
.grandP {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 300px;
  height: 450px;
  border: 3px dashed grey;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
}
