/* .parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 500px;
  height: 570px;
  border: 3px dashed grey;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
} */
.laser {
  /* .card1 .MuiInputBase-input .MuiOutlinedInput-input { */
  font-size: 37px;
  font-weight: 800;
  font-size: 40px;
  font-weight: 600;
  background-color: palegreen;
  /* } */
}
.parent {
  width: 800px;
  height: 480px;
  border: 3px dashed grey;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  padding: 10px 10px;
}
.heading_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.okheading_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.card1 {
  width: inherit;
  font-size: 20px;
  font-weight: 900;
}
.okcard {
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
  width: 200px;
  height: 60px;
  font-size: 25px;
  font-weight: 600;
}
.nokcard {
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
  width: 200px;
  height: 60px;
  font-size: 25px;
  font-weight: 600;
}
.icon {
  width: 60;
  height: 60;
}
.card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.card4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.lefter {
  margin-left: 20px;
}
.green {
  background-color: aquamarine;
}
.red {
  background-color: lightcoral;
}
