/* .parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 500px;
  height: 570px;
  border: 3px dashed grey;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
} */
.laser {
  /* .card1 .MuiInputBase-input .MuiOutlinedInput-input { */
  font-size: 37px;
  font-weight: 800;
  font-size: 40px;
  font-weight: 600;
  background-color: palegreen;
  /* } */
}
.parent {
  width: 32rem;
  height: 16rem;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  padding: 0px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.heading_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.okheading_card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.card1 {
  width: inherit;
  font-size: 20px;
  font-weight: 900;
}
.okcard {
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  width: 80px;
  height: 56px;
  font-size: 15px;
  font-weight: 900;
  border: 2px groove darkblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.nokcard {
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  width: 80px;
  height: 56px;
  font-size: 15px;
  font-weight: 900;
  border: 2px groove darkblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.icon {
  width: 60;
  height: 60;
}
.card3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.card4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-self: center;
}
.lefter {
  margin-left: 20px;
}
.green {
  background-color: rgb(148, 255, 127);
}
.red {
  background-color: rgb(240, 17, 17);
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
